* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 3fr 10fr;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

button {
    color: #1a202c;
    font-weight: 700;
    cursor: pointer;
    background: #81e6d9;
    border: none;
    border-radius: 1.1rem;
}

button:hover {
    background: #5ee4d2;
}

.filter {
    font-weight: 700;
    padding: 1rem;
    background: #eff3f8;
}

.filter form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
}

.filter button {
    padding: 0.8rem 1.5rem;
}

.priceFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

input,
select {
    border: 1px solid silver;
    width: 100px;
    height: 2.5rem;
    border-radius: 0.3rem;
}

input:focus,
select:focus {
    outline: 2px solid #81e6d9;
}

.total {
    margin: 1.5rem 2rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.product-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 9px 6px 26px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card button {
    padding: 0.8rem 2rem;
}
